<Config>
    <compass>
        <settings>
            <setting default_value="1" name="i2c_port" value="1" />
            <setting default_value="0x1E" name="i2c_bus_address" value="0x1E" />
            <setting default_value="-9" name="declination_degrees" value="-9" />
            <setting default_value="23" name="declination_minutes" value="23" />
            <setting default_value="1.3" name="gauss" value="1.3" />
            <setting default_value="0.2" name="update_time_interval" value="0.2" />
        </settings>
        <hardware_commands>
        </hardware_commands>
        <terminal_commands>
            <command description="Toggle visual of menu." name="H" />
            <command description="Return to the main terminal." name="R" />
            <command description="Clear the screen." name="C" />
            <command description="Exit the terminal." name="Q" />
        </terminal_commands>
    </compass>
    <driver>
        <settings>
            <setting default_value="True" name="auto_start_bluetooth_server_thread" value="True" />
            <setting default_value="True" name="auto_start_sonar_thread" value="True" />
            <setting default_value="True" name="auto_start_gps_thread" value="True" />
            <setting default_value="True" name="auto_start_compass_thread" value="True" />
            <setting default_value="True" name="auto_connect_to_motor" value="True" />
        </settings>
        <hardware_commands>
        </hardware_commands>
        <terminal_commands>
            <command description="Enter the motor control terminal." name="MCT" />
            <command description="Enter the sonar control terminal." name="SCT" />
            <command description="Enter the gps control terminal." name="GCT" />
            <command description="Enter the compass control terminal." name="CCT" />
            <command description="Enter the bluetooth server control terminal." name="BCT" />
            <command description="Toggle visual of menu." name="H" />
            <command description="Clear the screen." name="C" />
            <command description="Exit the terminal." name="Q" />
        </terminal_commands>

    </driver>
    <gps>
        <settings>
            <setting default_value="/dev/ttys0" name="serial_port" value="/dev/ttyS0" />
            <setting default_value="9600" name="serial_baud_rate" value="9600" />
        </settings>
        <hardware_commands>
        </hardware_commands>
        <terminal_commands>
            <command description="Toggle visual of menu." name="H" />
            <command description="Return to the main terminal." name="R" />
            <command description="Clear the screen." name="C" />
            <command description="Exit the terminal." name="Q" />
        </terminal_commands>

    </gps>
    <motor>
        <settings>
            <setting default_value="/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller-if00-port0" name="serial_port" value="/dev/serial/by-id/usb-Prolific_Technology_Inc._USB-Serial_Controller-if00-port0" />
            <setting default_value="19200" name="serial_baud_rate" value="19200" />
            <setting default_value="False" name="check_motor_commands" value="False" />
        </settings>
        <hardware_commands>
            <command name="arc" parameter_count="3">
                <parameter description="Radius." range="1 to 32767" />
                <parameter description="Top speed." range="1 to 32767" />
                <parameter description="Arc angle." range="-32767 to 32767" />
            </command>
            <command name="go" parameter_count="2">
                <parameter description="Left wheel power." range="-127 to 127" />
                <parameter description="Right wheel power." range="-127 to 127" />
            </command>
            <command name="gospd" parameter_count="2">
                <parameter description="Left wheel speed." range="-32767 to 32767" />
                <parameter description="Right wheel speed" range="-32767 to 32767" />
            </command>
            <command name="move" parameter_count="3">
                <parameter description="Left wheel distance." range="-32767 to 32767" />
                <parameter description="Right wheel distance." range="-32767 to 32767" />
                <parameter description="Speed." range="1 to 32767" />
            </command>
            <command name="trvl" parameter_count="2-3">
                <parameter description="Distance." range="-32767 to 32767" />
                <parameter description="Top speed." range="1 to 32767" />
                <parameter description="(Optional) Arc angle." range="-32767 to 32767" />
            </command>
            <command name="turn" parameter_count="2">
                <parameter description="Total motor movement." range="-32767 to 32767" />
                <parameter description="Top speed." range="1 to 512" />
            </command>
        </hardware_commands>
        <terminal_commands>
            <command description="Toggle visual of menu." name="H" />
            <command description="Return to the main terminal." name="R" />
            <command description="Clear the screen." name="C" />
            <command description="Exit the terminal." name="Q" />
        </terminal_commands>
    </motor>
    <sonar>
        <settings>
            <setting default_value="0.2" name="update_time_interval" value="0.2" />
            <setting default_value="37" name="front_left_sonar_pin" value="37" />
            <setting default_value="35" name="front_middle_sonar_pin" value="35" />
            <setting default_value="33" name="front_right_sonar_pin" value="33" />
            <setting default_value="31" name="middle_back_sonar_pin" value="31" />
	        <setting default_value="100000" name="max_cpu_iterations" value="100000" />
        </settings>
        <hardware_commands>
        </hardware_commands>
        <terminal_commands>
            <command description="Toggle visual of menu." name="H" />
            <command description="Return to the main terminal." name="R" />
            <command description="Clear the screen." name="C" />
            <command description="Exit the terminal." name="Q" />
        </terminal_commands>
    </sonar>
    <bluetooth>
        <settings>
	    <setting default_value="B8:27:EB:7C:BA:C3" name="server_address" value="B8:27:EB:7C:BA:C3" />
            <setting default_value="1024" name="server_in_byte_size" value="1024" />
            <setting default_value="1" name="server_out_port" value="1" />
            <setting default_value="2" name="server_in_port" value="2" />
            <setting default_value="30" name="server_in_connection_timeout" value="30" />
            <setting default_value="30" name="server_out_connection_timeout" value="30" />
            <setting default_value="1" name="server_backlog" value="1" />
            <setting default_value="10" name="reconnect_limit" value="10" />
        </settings>
        <hardware_commands>
        </hardware_commands>
        <terminal_commands>
            <command description="Toggle visual of menu." name="H" />
            <command description="Return to the main terminal." name="R" />
            <command description="Clear the screen." name="C" />
            <command description="Exit the terminal." name="Q" />
        </terminal_commands>
    </bluetooth>
</Config>